/*Adicionar as propriedades margin e padding no seletor universal (asteerisco) */
*{
    margin: 0;
    padding: 0;
}

/*Iniciar seção cabeçalho*/

.cabecalho {
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.cabecalho-imagem{
    width: 8%;
    border-radius: 22px; /*para definir bordas arredondadas da imagem*/
}

/*A lista não ordenada ul precisa estar alinhada em uma unica linha.
Crie um seletor para a classe .cabecalho-lista-item, adicionando nele
a propriedade display com o valor inline-block:*/
/*Aumente os espaçamentos entre os textos com a propriedade margin de valor 0 16px:*/
/*Aumente a fonte através da propriedade font-size de valor 24px.*/

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabecalho-lista-item a {
    text-decoration: none;
    color: #FFFFFF; /*cor*/
}

/*Efeito alterar a cor quando passar o mouse*/
a:hover {
    color: #16CFF8;
}

/*Alterar a cor quando clicar com o mouse*/
a:active{
    color: ;
}


}